:root {
  --text-color:#BBBBBB;
  --background-color:#282c34;
}

.App {
  text-align: center;
  background-color: var(--background-color);
  height:100vh;
  width:100vw;
}

.lightbulb {
  width: 10%;
  height: auto;
  margin-top: 10%;
}

Slider {
  width: 30vw;
}

.upIcon {
  color: var(--text-color);
}

.downIcon {
  color: var(--text-color);
}

.SpeedControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  margin-left: 5%;
}

.label {
  margin: 0px 0px 10px 0px;
  color: var(--text-color);
}

.Settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
}

.ThemeSettings {
  margin-right: 5%;
}

.ThemeText {
  color: var(--text-color) !important;
  text-align:start;
}

div:has(> ul) {
  background-color: var(--background-color) !important;
}